@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Noto Sans KR', 'Alegreya Sans SC', 'Titillium Web', sans-serif;
}
a { text-decoration: none !important; color: #1A1A1A;}
img { border: 0; vertical-align: middle;}
ul { list-style: none; }

#wrap {
    width: 100%;
    margin: 0 auto;
}

.img_wrap img:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.img_wrap img{
    transition-duration: 1s;
}
.img_wrap {
    overflow: hidden;
}

/* white btn */
.w_btn > a{
display: block;
width: 160px;
height: 40px;
line-height: 40px;
font-size: 18px;
text-decoration: none;
color: #fff;
border: 2px solid #fff;
text-align: center;
position: relative;
transition: all .35s;
}

.w_btn > a span{
position: relative;
z-index: 2;
}

.w_btn > a:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: #fff;
transition: all .35s;
}

.w_btn > a:hover{
color: #1a1a1a;
}

.w_btn > a:hover:after{
width: 100%;
}

/* header */
#hd_wrap {}

#hd_inner {
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(185 185 185 / 30%);
}

#hd_inner .container {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#hd_inner .container .logo {
    width: 150px;
    font-family: 'Alegreya Sans SC';
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.05em;
}

#hd_inner .container .gnb {
    width: calc(100% - 150px);
    display: flex;
    justify-content: flex-end;
}

#hd_inner .container .gnb > ul {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding-left: 20%;
}

#hd_inner .container .gnb ul > li {
    width: 20%;
    text-align: end;
}

/* #hd_inner .container .gnb ul > li:last-child {
    text-align: end;
} */

/* main */
/* main visual */
.swiper-container {
    width: 100%;
    height: 800px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide.slide1 {
    background: url(../images/visual_01.png);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide2 {
    background: url(../images/visual_02.png);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide3 {
    background: url(../images/visual_03.png);
    background-size: cover;
    background-position: center;
}

/* contents font style */
.m_title {
    font-family: 'Titillium Web';
    font-size: 40px;
    font-weight: 600;
}

.m_desc {
    font-size: 16px;
    color: #666666;
    letter-spacing: -0.5px;
}

.txt_wrap > span {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.txt_wrap > p {
    font-size: 16px;
    color: #666666;
    letter-spacing: -0.5px;
    padding-top: 6px;
}

/* About us */
.main01 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main01 > ul {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

.main01 > ul > li {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.main01 .txt_wrap {
    padding: 30px;
}

/* main banner */


.main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
}

.main02 .b_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1800px;
    margin: 0 auto;
    background-image: url('../images/m_banner01.png');
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.main02 .b_wrap > div {
    max-width: 1200px;
    margin: 0 auto;
}

.main02 .b_wrap > div > .left {
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 80px;
    width: 50%;
}

/* .main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
    position: relative;
}

.main02 .b_wrap .left {
    max-width: 1200px;
    margin: 0 auto;
    width: 50%;
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 80px;
}

.main02 .b_wrap .right {
    position: absolute;
    top: 0;
    right: 0;
    
} */


/* .main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
}

.main02 .b_wrap {
    max-width: 1200px;
    display: flex;
}

.main02 .b_wrap .left {
    width: 50%;
}

.main02 .b_wrap .right {
    width: 50%;
    height: 500px
    background-image: url('../images/m_banner01.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

.b_wrap .left .tit > h2 {
    font-size: 40px;
    font-weight: 300;
}

.b_wrap .left .tit > strong {
    font-size: 40px;
    font-weight: 700;
}

.b_wrap .left .txt {
    font-size: 20px;
    font-weight: 350;
    padding: 36px 0;
}

/* product */
.main03 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main03 .box {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    display: flex;
}

.box .left {
    width: 50%;
    height: 600px;
}

.box .right {
    width: 50%;
    height: 600px;
}

.box01 {
    width: 100%;
    height: 50%;
    text-align: center;
    background: #FBD40B;
}

.box01 > ul {
    display: flex;
    align-items: center;
}

.box01 > ul > li {
    width: 50%;
}

.box02 {
    width: 100%;
    height: 50%;
    text-align: center;
    background: #FC3F61;
}

.box02 > ul {
    display: flex;
    align-items: center;
}

.box02 > ul > li {
    width: 50%;
}

.box .tit {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 30px;
    font-weight: 600;
}

.box .txt {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

/* counting */
.main04 {
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
}

.main04 > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main04 .line {
    border-left: 1px solid #E0E0E0;
}

.main04 .num > p {
    font-family: 'Titillium Web';
    font-size: 100px;
    font-weight: 600;
    color: #C25959;
    display: inline;
}

.main04 .num > h4 {
    font-size: 26px;
    font-weight: 300;
    color: #666;
    display: inline;
}

.main04 .num .txt > h4 {
    font-size: 26px;
    font-weight: 300;
    color: #666;
}


/* parallax banner */

.bg-holder#parallax_banner {
    width: 100%;
    height: 400px;
    margin: 0;
    background:url(../images/b_img.png);
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
    position: relative;
}

#parallax_banner .container {
    position: relative;
    cursor: pointer;
    min-height: 400px;
}

.bg-holder{
    width:100%;
    height:400px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#parallax_banner .tit > span {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.10em;

}

#parallax_banner .tit > strong {
    font-size: 40px;
    font-weight: 700;
}

#parallax_banner .txt {
    font-size: 20px;
    font-weight: 350;
    padding: 36px 0;
}

/* notice */
.main06 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main06 > ul {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main06 > ul > li {
    border: 1px solid #E0E0E0;
}

.main06 .txt_wrap {
    padding: 24px;
    text-align: left;
}

.main06 .txt_wrap > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.main06 .txt_wrap > p {
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.5px;
    padding-top: 6px;
}


/* footer */
.f_inner {
    margin-top: 120px;
    height: 260px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_inner .f_logo {
    font-family: 'Alegreya Sans SC';
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 0.05em;
    line-height: 80px;
    color: #ccc;
    
}

.f_inner .copy {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 20px;
    text-align: center;

}


/* 미디어 쿼리 
주의점 : css속성 제일 밑에 작성해야한다. 공통사항 제외하고 변경하고싶은 사항 작성*/


