@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Noto Sans KR', 'Alegreya Sans SC', 'Titillium Web', sans-serif;
}
a { text-decoration: none !important; color: #1A1A1A;}
img { border: 0; vertical-align: middle;}
ul { list-style: none; }

#wrap {
    width: 100%;
    margin: 0 auto;
}

.img_wrap img:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.img_wrap img{
    transition-duration: 1s;
}
.img_wrap {
    overflow: hidden;
}

/* white btn */
.w_btn > a{
display: block;
width: 160px;
height: 40px;
line-height: 40px;
font-size: 18px;
text-decoration: none;
color: #fff;
border: 2px solid #fff;
text-align: center;
position: relative;
transition: all .35s;
}

.w_btn > a span{
position: relative;
z-index: 2;
}

.w_btn > a:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: #fff;
transition: all .35s;
}

.w_btn > a:hover{
color: #1a1a1a;
}

.w_btn > a:hover:after{
width: 100%;
}


/* header */
#hd_wrap {}

#hd_inner {
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(185 185 185 / 30%);
}

.change {
    background-color: rgba(255,255,255,0.95);
}

#hd_inner .container {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#hd_inner .container .logo {
    width: 150px;
    font-family: 'Alegreya Sans SC';
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.05em;
}

#hd_inner .container .gnb {
    width: calc(100% - 150px);
    display: flex;
    justify-content: flex-end;
}

#hd_inner .container .gnb > ul {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding-left: 20%;
}

#hd_inner .container .gnb ul > li {
    width: 20%;
    text-align: end;
}

#hd_inner .container .gnb ul > li > a {
    display: block;
}

#hd_inner .container .gnb ul > li > a:hover {
    color: #C25959;
}

/* #hd_inner .container .gnb ul > li:last-child {
    text-align: end;
} */



/* footer */
.f_inner {
    margin-top: 120px;
    height: 260px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_inner .f_logo {
    font-family: 'Alegreya Sans SC';
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 0.05em;
    line-height: 80px;
    color: #ccc;
    
}

.f_inner .copy {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 20px;
    text-align: center;

}


/* 미디어 쿼리 
주의점 : css속성 제일 밑에 작성해야한다. 공통사항 제외하고 변경하고싶은 사항 작성*/

@media screen and (max-width:400px) {

    .gnb > ul > li {
        display: none;
    }

    .gnb > ul > li:last-child {
        display: block;
    }

    
    .f_inner .copy {
        font-size: 12px;
    }

}
@media screen and (min-width:401px) and (max-width:767px) {
    
}

@media screen and (min-width:768px) and (max-width:1200px) {
    
}