@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Noto Sans KR', 'Alegreya Sans SC', 'Titillium Web', sans-serif;
}
a { text-decoration: none !important; color: #1A1A1A;}
img { border: 0; }
ul { list-style: none; }

#wrap {
    width: 100%;
    margin: 0 auto;
}

/* header */
#hd_wrap {}
/* main */
/* main visual */
/* About us */
/* main banner */
/* product */
/* counting */
/* parallax banner */
/* notice */
/* footer */



/* 미디어 쿼리 
주의점 : css속성 제일 밑에 작성해야한다. 공통사항 제외하고 변경하고싶은 사항 작성*/


