@charset "UTF-8";

/* main */
/* main visual */
.swiper-container {
    width: 100%;
    height: 800px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide.slide1 {
    background: url(../images/visual_01.png);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide2 {
    background: url(../images/visual_02.png);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide3 {
    background: url(../images/visual_03.png);
    background-size: cover;
    background-position: center;
}

/* contents font style */
.m_title {
    font-family: 'Titillium Web';
    font-size: 40px;
    font-weight: 600;
}

.m_desc {
    font-size: 16px;
    color: #666666;
    letter-spacing: -0.5px;
}

.txt_wrap > span {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.txt_wrap > p {
    font-size: 16px;
    color: #666666;
    letter-spacing: -0.5px;
    padding-top: 6px;
}

/* About us */
.main01 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main01 > ul {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

.main01 > ul > li {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.main01 .txt_wrap {
    padding: 30px;
}

/* main banner */

.main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
}

.main02 .b_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../images/m_banner01.png');
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.main02 .b_wrap > div {
    max-width: 1200px;
    margin: 0 auto;
}

.main02 .b_wrap > div > .left {
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 80px;
    width: 50%;
}

/* .main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
    position: relative;
}

.main02 .b_wrap .left {
    max-width: 1200px;
    margin: 0 auto;
    width: 50%;
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 80px;
}

.main02 .b_wrap .right {
    position: absolute;
    top: 0;
    right: 0;
    
} */


/* .main02 {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: #FFD600;
}

.main02 .b_wrap {
    max-width: 1200px;
    display: flex;
}

.main02 .b_wrap .left {
    width: 50%;
}

.main02 .b_wrap .right {
    width: 50%;
    height: 500px
    background-image: url('../images/m_banner01.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

.b_wrap .left .tit > h2 {
    font-size: 40px;
    font-weight: 300;
}

.b_wrap .left .tit > strong {
    font-size: 40px;
    font-weight: 700;
}

.b_wrap .left .txt {
    font-size: 20px;
    font-weight: 350;
    padding: 36px 0;
}

/* product */
.main03 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main03 .box {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    display: flex;
}

.box .left {
    width: 50%;
    height: 600px;
}

.box .right {
    width: 50%;
    height: 600px;
}

.box01 {
    width: 100%;
    height: 50%;
    text-align: center;
    background: #FBD40B;
}

.box01 > ul {
    display: flex;
    align-items: center;
}

.box01 > ul > li {
    width: 50%;
}

.box02 {
    width: 100%;
    height: 50%;
    text-align: center;
    background: #FC3F61;
}

.box02 > ul {
    display: flex;
    align-items: center;
}

.box02 > ul > li {
    width: 50%;
}

.box .tit {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 30px;
    font-weight: 600;
}

.box .txt {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

/* counting */
.main04 {
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
}

.main04 > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main04 .line {
    border-left: 1px solid #E0E0E0;
}

.main04 .num > p {
    font-family: 'Titillium Web';
    font-size: 100px;
    font-weight: 600;
    color: #C25959;
    display: inline;
}

.main04 .num > h4 {
    font-size: 26px;
    font-weight: 300;
    color: #666;
    display: inline;
}

.main04 .num .txt > h4 {
    font-size: 26px;
    font-weight: 300;
    color: #666;
}


/* parallax banner */

.bg-holder#parallax_banner {
    width: 100%;
    height: 400px;
    margin: 0;
    background:url(../images/b_img.png);
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
    position: relative;
}

#parallax_banner .container {
    position: relative;
    cursor: pointer;
    min-height: 400px;
}

.bg-holder{
    width:100%;
    height:400px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#parallax_banner .tit > span {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.10em;

}

#parallax_banner .tit > strong {
    font-size: 40px;
    font-weight: 700;
}

#parallax_banner .txt {
    font-size: 20px;
    font-weight: 350;
    padding: 36px 0;
}

/* notice */
.main06 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
}

.main06 > ul {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main06 > ul > li {
    border: 1px solid #E0E0E0;
}

.main06 .txt_wrap {
    padding: 24px;
    text-align: left;
}

.main06 .txt_wrap > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.main06 .txt_wrap > p {
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.5px;
    padding-top: 6px;
}





@media screen and (max-width:400px) {
    .main01 {
        width: 100%;
    }
    .main01 > ul {
        flex-direction: column;
        align-items: center;
    }

    .main01 > ul > li:nth-child(2) {
        margin: 40px 0;
    }

    .main02 .b_wrap {
        background-image: none;
    }

    .main02 .b_wrap > div > .left {
        width: 100%;
        text-align: center;
    }

    .b_wrap .left .tit > h2 {
        font-size: 30px;
    }

    .b_wrap .left .tit > strong {
        font-size: 30px;
    }

    .b_wrap .left .txt {
        font-size: 18px;
    }


    .w_btn > a {
        margin: 0 auto;
    }

    .main03 {
        width: 100%;
    }

    .main03 .box {
        flex-direction: column;
        align-items: center;
    }

    .box .left {
        width: 100%;
    }

    .box .right {
        width: 100%;
        height: 380px;
    }

    .box .right > a > img {
        width: 100%;
    }
    .main04 {
        width: 100%;
        padding: 60px 0;
    }
    
    .main04 > ul {
        flex-direction: column;
    }

    .main04 .line {
        border-bottom: 1px solid #E0E0E0;
        padding: 20px;
    }
    .main04 .num > p {
        font-size: 80px;
    }

    .bg-holder#parallax_banner {
        /* background-position: center !important */
    }

    #parallax_banner .tit {
        padding-top: 60px;
    }

    #parallax_banner .tit > span {
        font-size: 26px;
    }

    #parallax_banner .tit > strong {
        font-size: 36px;
    }

    #parallax_banner .txt {
        padding: 20px 0;
    }

    .main06 {
        width: 100%;
    }

    .main06 > ul {
        flex-direction: column;
        align-items: center;
    }

    .main06 > ul > li:nth-child(2) {
        margin: 40px 0;
    }

}

@media screen and (min-width:401px) and (max-width:767px) {

    .main01 {
        width: 100%;
    }
    .main01 > ul {
        flex-direction: column;
        align-items: center;
    }

    .main01 > ul > li:nth-child(2) {
        margin: 40px 0;
    }

    .main02 .b_wrap {
        background-image: none;
    }

    .main02 .b_wrap > div > .left {
        width: 100%;
        text-align: center;
    }

    .w_btn > a {
        margin: 0 auto;
    }

    .main03 {
        width: 100%;
    }

    .main03 .box {
        flex-direction: column;
        align-items: center;
    }

    .box .left {
        width: 80%;
    }

    .box .right {
        width: 80%;
    }

    .main04 {
        width: 100%;
    }

    .main04 .num > p {
        font-size: 80px;
    }

    .main06 {
        width: 100%;
    }

    .main06 > ul {
        flex-direction: column;
        align-items: center;
    }

    .main06 > ul > li:nth-child(2) {
        margin: 40px 0;
    }
}


@media screen and (min-width:768px) and (max-width:1200px) {

    .main02 .b_wrap > div > .left {
        padding-top: none;
        padding: 80px;
    }
}